@font-face {
    font-family: 'Helvetica Neue Thin';
    src: url('../fonts/HelveticaNeueThin.otf') format('opentype');
    font-weight: 200;
  }

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url('../fonts/HelveticaNeueLight.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/HelveticaNeueRoman.otf') format('opentype');
    font-weight: 400;
}  

@font-face {
    font-family: 'Helvetica Neue Medium';
    src: url('../fonts/HelveticaNeueMedium.otf') format('opentype');
    font-weight: 500;
} 

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravelsTrialMedium.otf') format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'TT Travels Bold';
    src: url('../fonts/TT-Travels-Trial-Bold.otf') format('opentype');
    font-weight: 700;
}

